Azure-Logic-Apps/SQLStorageProvider/DemoSQLStorageProvider/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Condition": {
                "type": "If",
                "expression": {
                    "and": [
                        {
                            "contains": [
                                "@triggerOutputs()['queries']",
                                "test"
                            ]
                        }
                    ]
                },
                "actions": {
                    "Response": {
                        "type": "Response",
                        "kind": "http",
                        "inputs": {
                            "statusCode": 200,
                            "body": "Hello World"
                        },
                        "runAfter": {}
                    }
                },
                "runAfter": {},
                "else": {
                    "actions": {
                        "Response_2": {
                            "type": "Response",
                            "kind": "http",
                            "inputs": {
                                "statusCode": 200,
                                "body": "Hello False"
                            },
                            "runAfter": {}
                        }
                    }
                }
            }
        },
        "triggers": {
            "manual": {
                "type": "Request",
                "kind": "Http",
                "inputs": {}
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {}
    },
    "kind": "Stateless"
}